* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 90%;
  margin: 40px auto;
  display: flex;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #8b959e ;
}

a:hover {
  color: #000;
}

/* nav left */

.nav-left {
  width: 20% ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* nav right */

.nav-right {
  margin-left: 40px;
  width: 77%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  margin: 0 10px;
  border: 1px solid #ebebeb;
  padding: 15px;
  background-color: #ebebeb;
  border-radius: 8px;
  color: black;
}

.btn-alt {
  background-color: #191c1f ;
  color: #fff;
}

ul li {
  list-style: none;
}

ul li svg {
  height: 20px;
  background-color: #ced5db;
  border-radius: 50%;
  color: #fff;
  padding: 3px;
  margin-right: 10px;
}

.width-dropdown-menu {
  margin: 0 15px;
 
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  left: -25px;
  display: flex;
  box-shadow: 0px 6px 16px #CED5DB;
  border-radius: 10px;
  padding: 13px 13px;
}

.none {
  display: none !important;
}

.dropdown-menu ul li {
  padding: 8px 0;
}

.relative {
  position: relative;
}

.soon{
  position: absolute;
  top: -10px;
  right: -13px;
  font-size: 10px;
  color: #77acf4;
}

.c-soon{
  color: #dcdcdd;
}

.sub-title {
  color: #ced5db;
}

.w-150 {
  width: 180px;
}

.width-dropdown-menu::after {
  content: '';
  height: 30px;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}

.nav-left a.active {
  color: #000;
}
